<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <!-- 配置注解驱动 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property value="application/json;charset=utf-8" name="supportedMediaTypes"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 配置扫包 controller -->
    <context:component-scan base-package="com.beta.demo.controller"/>


    <!-- 配置Controller的name属性 与实际资源位置 的映射关系 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


    <!-- 由于/WEB-INF/文件夹下的静态资源无法直接访问，故在下方设置文件路径的映射 -->
    <mvc:resources mapping="/css/**" location="/WEB-INF/css/"/>
    <mvc:resources mapping="/js/**" location="/WEB-INF/js/"/>
    <mvc:resources mapping="/images/**" location="/WEB-INF/images/"/>
    <mvc:resources mapping="/upload/portrait/**" location="/WEB-INF/upload/portrait/"/>
    <mvc:resources mapping="/upload/msgFile/**" location="/WEB-INF/upload/msgFile/"/>
    <mvc:resources mapping="/layer/**" location="/WEB-INF/layer/"/>

    <!-- 文件处理器 -->
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="12800000"/>
    </bean>

</beans>