<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beta.demo.dao.ChatMessageDao">

    <resultMap id="full_fields_map" type="ChatMessage">
        <id property="id" column="id"/>
        <result property="sentTime" column="sent_time"/>
        <result property="messageType" column="message_type"/>
        <result property="messagePayload" column="message_payload"/>
        <result property="messageRef" column="message_ref"/>

        <association property="user" javaType="User">
            <id property="id" column="u.id"/>
            <result property="username" column="u.username"/>
            <result property="password" column="u.password"/>
            <result property="portrait" column="u.portrait"/>
            <result property="registerDate" column="u.register_date"/>
            <result property="gender" column="u.gender"/>
            <result property="email" column="u.email"/>
        </association>
    </resultMap>


    <select id="selectAll" resultMap="full_fields_map">
        select cm.id,
               cm.sent_time,
               cm.message_type,
               cm.message_payload,
               cm.message_ref,
               u.id,
               u.username "u.username",
               u.password "u.password",
               u.portrait "u.portrait",
               u.register_date "u.register_date",
               u.gender "u.gender",
               u.email "u.email"
        from t_chat_message cm
                 left join t_user u on cm.user_id = u.id
        order by sent_time desc
    </select>


    <select id="selectByMessageType" parameterType="Integer" resultMap="full_fields_map">
        select cm.id,
               cm.sent_time,
               cm.message_type,
               cm.message_payload,
               cm.message_ref,
               u.id,
               u.username,
               u.password,
               u.portrait,
               u.register_date,
               u.gender,
               u.email
        from t_chat_message cm
                 left join t_user u on cm.user_id = u.id
        where cm.message_type = #{messageType}
        order by sent_time desc
    </select>


    <insert id="insert" parameterType="ChatMessage">
        insert into t_chat_message (id, user_id, sent_time, message_type, message_payload, message_ref)
        VALUES (#{id}, #{user.id}, #{sentTime}, #{messageType}, #{messagePayload}, #{messageRef})
    </insert>

</mapper>
