<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beta.demo.dao.UserDao">


    <resultMap id="full_fields_map" type="User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="portrait" column="portrait"/>

        <result property="registerDate" column="register_date"/>

        <result property="gender" column="gender"/>
        <result property="email" column="email"/>
    </resultMap>


    <select id="selectAll" resultMap="full_fields_map">
        select id,
               username,
               password,
               portrait,
               register_date,
               gender,
               email
        from t_user
    </select>

    <select id="selectById" parameterType="String" resultMap="full_fields_map">
        select id,
               username,
               password,
               portrait,
               register_date,
               gender,
               email
        from t_user
        where id = #{id}
    </select>

    <select id="selectByUsername" parameterType="String" resultMap="full_fields_map">
        select id,
               username,
               password,
               portrait,
               register_date,
               gender,
               email
        from t_user
        where username = #{username}
    </select>


    <insert id="insert" parameterType="User">
        insert into t_user (id, username, password, portrait, register_date, gender, email)
        VALUES (#{id}, #{username}, #{password}, #{portrait}, #{registerDate}, #{gender}, #{email})
    </insert>

    <delete id="deleteById" parameterType="String">
        delete
        from t_user
        where id = #{id}
    </delete>

    <update id="update" parameterType="User">
        update t_user
        set username     = #{username},
            password     = #{password},
            portrait     = #{portrait},
            gender       = #{gender},
            email        = #{email}
        where id = #{id}
    </update>

    <update id="updateBasicInfo" parameterType="User">
        update t_user
        set username     = #{username},
            gender       = #{gender},
            email        = #{email}
        where id = #{id}
    </update>

</mapper>
