@charset "UTF-8";

#portrait-preview {
    float: left;
    width: 94px;
    height: auto;
}

.form-group-info {
    text-align: left;
}

.main-container {
    margin-top: 100px;
}

footer {
    font-size: smaller;
    text-align: center;
}


